/*
Colors
*/
$primary-blue: #00b3b3;
$primary-brown: #745850;
$primary-white: #e2e2e2;


*  {
	margin: 0;
	padding: 0;
	font-size: 16px;
	transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	font-family: 'Open Sans', sans-serif;
}
.row {
	margin: 16px auto;
}
.col-xs-12, .col-sm-12, .col-md-12 {
	margin-bottom: 16px;
}
body {
	background: #fff;
	overflow-x: hidden;
}
header, main, footer {
	width: 100%;

}
header {
	border-top: 10px solid #00b3b3;
	padding: 16px;
	box-shadow: 0px 2px 2px rgba(202,202,202,0.8);
}
hr {
	margin: 20px 0 16px 0;
	border: 0.8px solid $primary-brown;
}
ul {
	list-style-position: inside;
	li {
		margin: 12px auto;
	}
}
p, a {
	font-size: 1rem;
	font-weight: 100;
	font-family: Helvetica, Arial, sans-serif;
}
p{
	margin: 16px auto;
	line-height: 1.8rem;
}
h1, h2, h3, h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
}
h1 {
	font-size: 2.4rem;
	line-height: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 16px;
}
a {
    color: #6db4b1;
    text-decoration: none;
	display: inline-block;
}
a:hover {
	color: #888;
}

/*
	logo
*/
.logo {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
}
.logo img {
	width: 100%;
	display: block;
}
/*
	menu
*/
.nav-bar {
	z-index: 1;
	color: #888;
	background: #fff;
	width: 70% !important;
	display: inline-block;
	vertical-align: middle;
}
.nav-bar a {
	padding: 24px 32px !important;
}
.nav-list-sub {
	background: #fff;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
/*
	header
*/

/*
	Footer
*/
.content {
	margin: 16px;
}
.float-left {
	float: left;
	padding: 0 16px 12px 0;
}
.float-right {
	float: right;
	padding: 0 0 16px 12px;
}
footer {

}
.foot-tp {
	left: 50%;
	color: #e2e2e2 !important;
	padding: 16px;
	position: relative;
	background: #262626;
	transform: translate(-50%);
}
.foot-tp > div {
	width: 25%;
	padding: 24px;
	display: inline-block;
}
.foot-tp > div:nth-child(3) {
	width: 33%;
}
.foot-bp {
 padding: 16px;
 background: #191919;
 color: #e3e3e3 !important;
}
.foot-bp > div {
	display: inline-block;
}
.foot-bp > div:nth-child(2) {
	float: right;
}

/*
	buttons
*/
.button.blue {
	padding: 16px;
	background: $primary-blue;
	color: #fff;
	&:hover {
		background: #fff;
		color: $primary-blue;
		border: 1px solid $primary-blue;
	}
}

.presented {
	text-align: center;
	margin: auto;
}
.presented > div {
	margin: 24px auto;
}
/*
	mobile
*/
@media screen and (max-width: 940px) {
	.nav-bar {
		width: 100% !important;
		display: block;
	}
	.nav-list-main {
		background: #fff;
		box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	}
	.foot-tp > div {
		margin: auto;
		display: block;
	}
	.hide-medium {
		display: none;
	}
}
