<div class="gallery-fab50">
	<div class="row">
		<h3>Fabulous 50 Awardees</h3>
	</div>
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Amy Ostertag | Oro Valley Hospital</li>
				<li>Ana Cardenas | SAVAMC</li>
				<li>Angela Brown | CON</li>
				<li>Angela Westergard | Northwest Medical Center</li>
				<li>Angela Wright | Banner University Medical Center</li>
				<li>Anita Taylor | Northwest Medical Center</li>
				<li>Anna Bourquet | SAVAMC</li>
				<li>Ardea Davis | Carondelet</li>
				<li>Ashley Adams | Banner University Medical Center</li>
				<li>Beverly Bias | CON</li>
				<li>Beverly Heasley | Fairmount Assisted Living Tucson</li>
				<li>Bianca Bracamontes | Banner University Medical Center</li>
				<li>Brad Jobe | SAVAMC</li>
			</ul>
		</div>
		<div class="col-xs">
			<ul>
				<li>Candice Ben | Banner University Medical Center</li>
				<li>Charlotte Maduram Moore | Banner University Medical Center</li>
				<li>Cheryl Nelson | Northwest Medical Center</li>
				<li>Christine Krtek | Casa Hospice</li>
				<li>Corinne Steiger | Banner University Medical Center</li>
				<li>Diane Ramirez | Banner University Medical Center</li>
				<li>Elaine Hernandez | Oro Valley Hospital</li>
				<li>Gail Bradford | SAVAMC</li>
				<li>Gina Sargent | Carondelet</li>
				<li>Grace Ravicchio | Banner University Medical Center</li>
				<li>Jayne Stephens | Northwest Medical Center</li>
			</ul>
		</div>
		<div class="col-xs">
			<ul>
				<li>Jennifer Qualls | St Marys</li>
				<li>Jenny Teppett | Tucson Medical Center</li>
				<li>Jodi Prosser | Davis Monthan Air Force Base</li>
				<li>Jonathan Ryan | Northwest Medical Center</li>
				<li>Karen  Gutierrez | Casa Hospice</li>
				<li>Karen Murphy | Pima County Health Department</li>
				<li>Katie Lobato | Banner University Medical Center</li>
				<li>Kendra Keith | Interim Healthcare</li>
				<li>Kristin Hertzog | Northwest Medical Center</li>
				<li>Laurie Block | Tucson Medical Center</li>
				<li>Lisa Chrismer | Casa Hospice</li>
				<li>Lisa Myers | Tucson Medical Center</li>
			</ul>
		</div>
		<div class="col-xs">
			<ul>
				<li>Lorraine Pipkin | SAVAMC</li>
				<li>Lyton Fernandez | SAVAMC</li>
				<li>Mary Cavecche | Tucson Medical Center</li>
				<li>Megan Munson | Marana Health Care</li>
				<li>Monica Gouker | PCC</li>
				<li>Rachel Myers | Davis Monthan Air Force Base</li>
				<li>Ronald Zack | SAVAMC</li>
				<li>Sasha Bean | SAVAMC</li>
				<li>Susan Cooper | St Marys</li>
				<li>Terese Briggs-Klee | Oro Valley Hospital</li>
				<li>Thanhthut Nguyen Martin | SAVAMC</li>
				<li>Patricia (Trish) Lee | Oro Valley Hospital</li>
				<li>Victoria McArdle | Tucson Medical Center</li>
				<li>Wendi Sears | St Marys</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>Top 5 Awardees</h3>
	</div>
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Margariet May | SAVAHCS</li>
				<li>Rednette Czapiewski | Patient Care Adv</li>
				<li>Sally  Vande berg | SAVAHCS</li>
				<li>Silvia Galan 355th | Medical Clinic, davis-Monthan AFB</li>
				<li>Susie Dowling | SAVAHCS</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>Most Inspirational Mentor</h3>
	</div>
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Agnes Poore | Casa Hospice</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>Alex Stuetze</h3>
	</div>
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Pam Spencer | Banner University Medical Center</li>
			</ul>
		</div>
	</div>
</div>
<!-- <script src="/assets/js/gallery.min.js"></script> -->
