<div class="gallery-fab50">
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Brandie Anderson | Banner University Medical Center</li>
				<li>Elyse Atkielski | Banner University Medical Center</li>
				<li>Brett  Behan | Banner University Medical Center</li>
				<li>Tracy  Culbert | Banner University Medical Center</li>
				<li>Kyle  Estep | Banner University Medical Center</li>
				<li>Sharron Kirby | Banner University Medical Center</li>
				<li>Sandra  Kurtin | Banner University Medical Center</li>
				<li>Darryl  Lundeen | Banner University Medical Center</li>
				<li>Michele  Todd | Banner University Medical Center</li>
				<li>Carolina Baldwin | University of Arizona College of Nursing</li>
				<li>Michelle Kahn-John | University of Arizona College of Nursing</li>
				<li>Mary  Koithan | University of Arizona College of Nursing</li>
				<li>Mary  O'Connell | University of Arizona College of Nursing</li>
				<li>Linda Perez | University of Arizona College of Nursing</li>
				<li>Linda Phillips | University of Arizona College of Nursing</li>
				<li>Carrie Silvers | University of Arizona College of Nursing</li>
			</ul>
		</div>
		<div class="col-xs">
			<ul>
				<li>Charles Bascom | Tucson Medical Center</li>
				<li>Jenna  Carbone | Tucson Medical Center</li>
				<li>Damiana  Cohen | Tucson Medical Center</li>
				<li>Sherilyn  Wollman | Tucson Medical Center</li>
				<li>Veronica  Riesgo | Tucson Medical Center</li>
				<li>Julie Seidl | Tucson Medical Center</li>
				<li>Cindy  Joyal | Carondelet Saint Mary's</li>
				<li>Olivia Moreno | Carondelet Saint Mary's</li>
				<li>Danielle Myers | Carondelet Saint Mary's</li>
				<li>Kathleen  Rivera | Carondelet Saint Mary's</li>
				<li>Laura Te | Carondelet Saint Mary's</li>
				<li>Callene Bentoncoury | Casa de la Luz</li>
				<li>Jommel Fischer | Casa de la Luz</li>
				<li>Carrie Landau | Casa de la Luz</li>
				<li>Janice  Pucko | Casa de la Luz</li>
				<li>Dean Glasshoff | Northwest Medical Center</li>
				<li>Dana Richardson | Northwest Medical Center</li>
				<li>Marcia Bollt | Oro Valley Hospital</li>
				<li>Jessica  French | Oro Valley Hospital</li>
				<li>Carmen West | Oro Valley Hospital</li>
			</ul>
		</div>
		<div class="col-xs">
			<ul>
				<li>Cheralynn Baylor | Southern Arizona VA Health Care System</li>
				<li>Jaime Chriswell | Southern Arizona VA Health Care System</li>
				<li>Gloria Gdovin | Southern Arizona VA Health Care System</li>
				<li>Andrea Hunter | Southern Arizona VA Health Care System</li>
				<li>Joyce McDaniels-Higgs | Southern Arizona VA Health Care System</li>
				<li>Janet Ohm | Southern Arizona VA Health Care System</li>
				<li>Ravinder Phull | Southern Arizona VA Health Care System</li>
				<li>Aida Rosa | Southern Arizona VA Health Care System</li>
				<li>Stephanie  Rosio | Southern Arizona VA Health Care System</li>
				<li>Cynthia  Sheaffer | Southern Arizona VA Health Care System</li>
				<li>Sheryal Valencic | Southern Arizona VA Health Care System</li>
				<li>Shannon Pace | Davis Monthan Air Force Base</li>
				<li>Christina  Ruggiero | Davis Monthan Air Force Base</li>
				<li>Kate Straub | Tucson Unified School District</li>
				<li>Betty Jo  Hensley | Interim Health Care</li>
				<li>Susan Wortman | Cenpatico</li>
			</ul>
		</div>
	</div>

</div>
<!-- <script src="/assets/js/gallery.min.js"></script> -->
