<div class="gallery-fab50">
	<div class="row">
		<h3>Fabulous 50 Awardees</h3>
	</div>
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Lynda K. Anderson | Southern Arizona VA Medical Center</li>
			</ul>
		</div>
		<div class="col-xs">
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="col-xs">
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="col-xs">
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>Top 5 Awardees</h3>
	</div>
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Margariet May | SAVAHCS</li>
				<li>Rednette Czapiewski | Patient Care Adv</li>
				<li>Sally  Vande berg | SAVAHCS</li>
				<li>Silvia Galan 355th | Medical Clinic, davis-Monthan AFB</li>
				<li>Susie Dowling | SAVAHCS</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>Most Inspirational Mentor</h3>
	</div>
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Agnes Poore | Casa Hospice</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>Alex Stuetze</h3>
	</div>
	<div class="row">
		<div class="col-xs">
			<ul>
				<li>Pam Spencer | Banner University Medical Center</li>
			</ul>
		</div>
	</div>
</div>
<!-- <script src="/assets/js/gallery.min.js"></script> -->






Top 5


Top 5


Top 5


Top 5


Top 5
