<div class="presented">
	<h3>Thank you Sponsors!</h3>
	<hr/>
	<div class="more-sponsors">
		<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_scale,fl_any_format.lossy,w_200/v1477600318/TNWF/Ruby-up/Logo_TMC.jpg" alt="Tucson Medical Center, TMC" />

		<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_scale,fl_any_format.lossy,w_200/v1477600318/TNWF/Ruby-up/carondelet_bewell_purple.png" alt="Carondelet" />

		<img class="float-left" src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_scale,fl_any_format.lossy,w_200/v1490374869/TNWF/Ruby-up/CHSlogos.png" alt="Northwest Medical Center" />

		<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_scale,fl_any_format.lossy,h_120/v1477600318/TNWF/Ruby-up/ARIZHealthNtwk_0.jpg" alt="Banner – University Medical Center Tucson" />
	</div>
</div>
